body {
  background: red !important;
}


.header-image{   background-image: url(https://www.versace.com/dw/image/v2/BGWN_PRD/on/demandware.static/-/Library-Sites-ver-library/default/dw0f2f3343/Homepage-New/Icon2024/Hp-hero-icon-w-desk-april03.jpg);
    height: 100vh;   /*in future 700px height with sticky down bar*/
    background-size: 100% 100%;
}
.header-image ul li{
   font-size: smaller;
   font-weight: bold;
   padding-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
} 
.bi {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 30px;
    color: white;
}
.carousel-inner{
    color: white; 
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    padding-bottom: 5px;
}
.head-slide a{
    color: white;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.head-slide a:hover{
    color:white;
    text-decoration: underline;
}
/*-------versace icon-------*/
.versace-icon-up{
    margin-top: 480px;
}
.versace-icon-up a{
    color: white;
    text-decoration: none;
    margin-left: 568px;
    font-family: radiant;
}
.versace-icon-down{
    margin-left: 500px;
    margin-top: 15px;
}
.versace-icon-down a{
    color: black;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    margin: 1px;
    padding: 10px 55px 10px 55px;
}
.versace-icon-down a:hover{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
}
/*----highlights----*/


/*--------spacing--------*/
.spacing{
    background-color: rgba(254, 254, 254, 0.623);
    height: 50px;
}




.new-in5 img:hover{
    /* transform: scale(1.13, 1.13); */
    transform: rotate(360deg);
    transition: 4s;

}











/*-------NEW IN--------*/
.new-in5{
    padding-top: 30px;
    padding-bottom: 30px;
}
.new-in5 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 50px;
}   
.new-in5 h6 a{
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;   
}
.new-in5 img{
    border-radius: 10rem;
}

@media  screen and (max-width: 768px)
{
    body{

        .new-in5{background-color: rgba(254, 254, 254, 0.623);}
        .new-in5 img{height: 80px; padding-left: 20px;}
        .new-in5 a{font-size: x-small;}
    }
    
}


.shop{
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*-----shop look-----*/
.shop-look{
    background-image: url(https://www.versace.com/dw/image/v2/BGWN_PRD/on/demandware.static/-/Library-Sites-ver-library/default/dw14c4abae/Homepage-New/Icon2024/Hp-SL-icon-w-desk-april03-new.jpg);
    background-size: 100% 100%;
    height: 100vh;
}
.shop-look a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px 50px 8px 50px;
    font-size: smaller;
    font-weight: bold;
}
.shop-look a:hover{
    background-color: black;
    color: white;
}
.shop-look h6{
    padding-left: 520px;
    padding-top: 612px;
}

@media  screen and (max-width: 1280px)
{
    body{.shop-look h6{padding-left: 540px; padding-top: 375px;}}
}
@media  screen and (max-width: 1100px)
{
    body{.shop-look h6{padding-left: 390px; padding-top: 600px;}.shop-look a{ font-size: smaller; padding-left: 20px 20px 0px 0px;}}  
}

@media  screen and (max-width: 991.98px)
{
    body{.shop-look h6{padding-left: 390px; padding-top: 600px;}.shop-look a{ font-size: smaller; padding-left: 20px 20px 0px 0px;}}  
}

@media screen and (max-width: 767.98px)
{
    body{.shop-look h6{padding-left: 250px; padding-top: 600px;}.shop-look a{ font-size: smaller; padding-left: 20px 20px 0px 0px;}}
}

@media screen and (max-width: 575.98px)
{
    body{.shop-look h6{padding-left: 190px; padding-top: 601px;} .shop-look a{font-size: x-small; padding-left: 15px 15px;}}
}


/*shop look end*/

.recent-stories p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: smaller;
    text-align: left;
}
.recent-stories a{
    color: black;
    font-size: x-small;
}


.footer a{
    color: white;
    text-decoration: none;
    font-size: small;
    font-family: radiant;
}
.footer h6{
    text-decoration: underline;
}
